          <%= form_for @blogpost do |f| %>
            <ul>
              <% @blogpost.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
            <div class="control-group">
                <%= f.label :'Title' %>
                <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="control-group">
                <p>
                  <%= f.label :'Summary' %>
                  <%= f.text_field :summary, class: "form-control" %>
                </p>
                <p>
            </div>

            <div class="control-group">
                <p>
                  <%= f.label :'Content' %>
                  <%= f.text_area :content, class: "form-control", cols: 20, rows: 5 %>
                </p>
                <p>
            </div>
            <div class="control-group">
                <p>
                  <%= f.label :'User ID' %>
                  <%= f.text_field :user_id, class: "form-control" %>
                </p>
                <p>
            </div>
            <div class="control-group">
                <p>
                  <%= f.label :'Image URL' %>
                  <%= f.text_field :image_url, class: "form-control" %>
                </p>
                <p>
            </div>
            <br>
            <div class="form-group">
               <%= f.submit 'Submit', class: "btn btn-primary" %>
            </div>
            <% end %>
        </div>
      </div>
    </div>
