<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="control-group">
            <%= f.label :'Email' %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="control-group">
            <%= f.label :'Password' %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <br>
          <div class="form-group">
            <%= f.submit 'Log In', class: "btn btn-primary" %>
          </div>
        <% end %>
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
  <hr>
