<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/head' %>
  <body>
<%= render 'layouts/navigation' %>
 <%= render 'layouts/header' %>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Add new users!</p>
         <%= render 'users/form' %>
    <hr>
<%= render 'layouts/footer' %>
  </body>
</html>